*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

header P{
    font-size: 2em;
    padding: 1rem;
}

header section{
    padding: 0 1rem;
}

main section{
    padding: 1rem;
}
main section p:nth-child(1){
    font-size: 1.2em;
}

table, th, td {
    margin-top: 1rem;
    padding: 0.3rem;
}
