.counter{
    background-color: #bebebe;
    padding: 1rem;
    display: flex;
    border: thin solid;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 0 8px 2px #ccc;
}