*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 1rem;
}

.flex{
    display: flex;
    min-height: 50vh;
    background-color: #1a1a1a;
    gap: 1rem;
    padding: 1rem;
    /* width: 700px; */
    /* align-items: center; */
}
.item{
    /* width: 100px; */
    color: white;
    padding: 1rem;
    border: 1px solid white;
}

/* .flex div:nth-child(1){
    flex-grow: 0;
}
.flex div:nth-child(2){
    flex-grow: 1;
}
.flex div:nth-child(3){
    flex-grow: 2;
}
.flex div:nth-child(4){
    flex-grow: 3;
} */

